
body {
        height: 100vh;
        margin: 0;
        padding: 0;
}

header{
    background-color: #E6E6E6;
}

div{
    text-align: center;
}

h1, .titulo-seccion{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: #C4C4C4;
    color: #005677;
}

h1{
    text-align: center;
    height: 60px;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 10px;
    margin-bottom: 100px;
}

.titulo-seccion{
    font-size: 18px;
    padding-left: 10px;
    letter-spacing: 5px;
    margin-top: 2.5%;
}

span{
    font-weight: bold;
    padding-left: 20px;
}

li{
    padding-top: 0.3%;
}

.dato{
    font-style: italic;
}

.texto-identado{
    padding-left: 95px;
    margin-top: -15px;
}

footer{
    margin-top: 8%;
    background-color: #005677;
    padding: 0.5%;
}

.texto-footer{
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;
    color: white;
    padding-left: 40%;
}

.logo-redes{
    padding-left: 2%;
    width: 20px;
}